.areaRow {
    display: flex;
    background-color: #ff8747;
    margin-bottom: 3px;
    color: white;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    align-items: center;
    padding-inline: 15px;
    justify-content: flex-start;

    .areaName {

        padding-block: 10px;
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 18px;
    }
}