.areaRow {
    display: flex;
    background-color: #ff8747;
    // background-color: #ffad4e;
    margin-bottom: 3px;
    color: white;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    align-items: center;
    justify-content: center;

    .areaName {
        padding-block: 10px;
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 18px;
    }
}