.spaceItemModal {
    background-color: rgba(0, 0, 0, 0.075);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;

    .form-title {
        // margin-top: -20px;  
        margin-inline: 0;
        margin-bottom: 10px;
        color: #ff9d2c;
        padding-bottom: 20px;
        border-bottom: #ff9d2cbe 2px solid;
    }

    .form-textField {
        margin-top: 20px;
    }
    
    .form-selects {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        width: 420px;
    }
    
    .form-control {
        width: 120px;
    }
    
    .form-button {
        margin-top: 60px;
    }
    
}

.ReactModalPortal > div{
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}
