.spaceItemsTable {
    margin-bottom: 200px;

    .toolBar {
        display: flex;

        .toolBar-title {
            color: #616161;
            margin-right: auto;
        }

        .toolBar-length-selected {
            color: #ff8747;
            margin-right: auto;
        }

        .toolBar-icon {
            font-size: 20px;

            &.selected {
                color: #ff8747;
            }
        }
    }

}