.log {
    display: flex;
    padding-inline: 4px;
    padding-block: 6px;
    margin-block: 2px;
    align-items: center;
    box-shadow: rgb(247, 247, 247) 0px 0px 10px 0px;

    .log-col1 {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        height: 100%;
        margin-right: auto;
        justify-content: space-evenly;

        .col-name {
            color: rgb(77, 77, 77);
            font-size: 17px;
            font-weight: 500;
            overflow: hidden;
            width: fit-content;
            max-width: 120px;
            white-space: nowrap;
            text-overflow: ellipsis;

            &.pointer { 
                cursor: pointer;
            }
        }
        
        .col-time {
            font-size: 14px;
            // font-weight: 500;
            color: rgb(128, 128, 128);
        }
    }

    .log-col2 {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        margin-right: 10px;
        height: 100%;
        align-items: flex-end;
        justify-content: space-evenly;

        .col-item {
            cursor: pointer;
            font-size: 17px;
            font-weight: 700;
            color: rgb(99, 99, 99);
            overflow: hidden;
            max-width: 140px;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .col-space {
            font-size: 15px;
            font-weight: 500;
            color: rgb(128, 128, 128);
            overflow: hidden;
            max-width: 120px;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .log-col3 {
        display: flex;
        flex-direction: column;
        margin-right: 4px;

        .col3 {
            display: flex;
            padding-left: 4px;
            min-width: 44px;
            width: fit-content;
            max-width: 64px;
            background-color: #e8e8e8;
            color: black;
            border-radius: 4px;
            overflow: hidden;
            align-items: center;
            margin-block: 2px;
            justify-content: flex-end;
    
            .col3-value {
                font-weight: 500;
                font-size: 15px;
            }
    
            .col3-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 4px;
                background-color: #545454;
                color: #ffffff;
                font-size: 14px;
                width: 23px;
                height: 23px;
            }
        }
    }

    .log-add {
        background-color: #41ff7d;
        width: 6px;
        height: 48px;
        border-radius: 10px;
    }
    
    .log-modify {
        background-color: #ffae00;
        width: 6px;
        height: 48px;
        border-radius: 10px;
    }
    
    .log-delete {
        background-color: #ff156f;
        width: 6px;
        height: 48px;
        border-radius: 10px;
    }
    
}

