.modal {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 220px;
    max-width: 380px;
    padding: 15px;
    right: auto;
    bottom: auto;
    box-shadow: rgb(230, 230, 230) 0px 0px 20px 0px;
    outline: none;
    border: none;
    border-radius: 10px;

    .form-textField {
        margin-bottom: 10px;
    }

    .form-selects {
        display: flex;
        justify-content: space-between;
    }
    
    .select {
        width: 120px;
    }

    .select-mt10 {
        margin-top: 10px;
        width: 120px;
    }
    
    .form-button {
        display: flex;
        margin-top: 35px;
    }
}

.modal-background {
    background-color: rgba(0, 0, 0, 0.075);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.ReactModalPortal > div{
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
}

.modal-fondo {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

