.modal {
    background-color: rgba(0, 0, 0, 0.075);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;

    .modal-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;

        .nose {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 80px;

            .logoutIcon {
                margin-left: auto;
                font-size: 30px;
                color: #ff8800;
                cursor: pointer;
                -webkit-tap-highlight-color: transparent;
            }
        }

        .avatar {
            position: absolute;
            width: 80px;
            height: 80px;
        }
    
        .userName {
            margin-top: 10px;
            font-size: 19px;
            font-weight: 700;
            color: #ff8800;
        }

        .userRole {
            font-weight: 500;
            color: rgb(148, 148, 148);
        }

        .userSettings {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-weight: 500;
            color: #f7921f;
            margin-top: 8px;
            height: 40px;
            width: 100%;
            border-radius: 15px;
            -webkit-tap-highlight-color: transparent;
            box-shadow:inset 0px 0px 0px 2px #ffa641;
        }

        .changeArea {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-weight: 500;
            color: #f7921f;
            margin-top: 15px;
            height: 40px;
            width: 100%;
            border-radius: 15px;
            -webkit-tap-highlight-color: transparent;
            box-shadow:inset 0px 0px 0px 2px #ffa641;

        }
    }
}