.spaceRow {
    width: 100%;
    padding-inline: 8px;
    padding-block: 4px;
    margin-block: 2px;
    box-sizing: border-box;
    display: flex;
    border-radius: 4px;
    background-color: #ff8747;
    color: white;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    align-items: center;

    .spaceName {
        margin-left: 10px;
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 18px;
    }

    .contentInfo-container {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    .contentInfo {
        display: flex;
        padding-left: 4px;
        min-width: 44px;
        width: fit-content;
        max-width: 64px;
        margin-right: 10px;
        background-color: #c16737;
        color: white;
        border-radius: 4px;
        overflow: hidden;
        align-items: center;
        justify-content: flex-end;

        .contentInfo-value {
            font-weight: 500;
            font-size: 15px;
        }

        .contentInfo-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 4px;
            background-color: #ff945b;
            color: #ffffff;
            font-size: 14px;
            width: 23px;
            height: 23px;
            box-shadow:inset 0px 0px 0px 2px #ee8247;
        }
    }
}