
.space-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .space-card-container{
        width: 82vw;
        max-width: 546px;
        align-content: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    .space-card {
        border-radius: 10px;
        margin: 10px;
        padding: 30px;
        background-color: rosybrown;
    }

}