.area-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: rgb(255,240,93);
    background: linear-gradient(30deg, rgba(255,240,93,1) 0%, rgba(255,185,98,1) 50%, rgba(255,128,0,1) 100%);

    .area-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95vw;
        max-width: 500px;
        height: 100%;

        .topBar {
            display: flex;
            margin-top: 10px;
            margin-inline: 6px;
            margin-bottom: 15px;
            align-items: flex-end;
            justify-content: space-between;

            .topBar-title {
                font-size: 20px;
                font-weight: 600;
                color: rgb(92, 92, 92);
            }
        }

        .areaList {
            padding-bottom: 8px;
            border-end-start-radius: 5px;
            border-end-end-radius: 5px;
            padding-inline: 8px;
            box-sizing: border-box;
            background-color: white;
            width: 100%;
        }

        .buttons-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: auto;
            width: 100%;
            font-weight: 600;
            font-size: 18px;
            white-space: nowrap;
            border-start-start-radius: 25px;
            border-start-end-radius: 25px;
            text-transform: uppercase;
            background-color: white;

            .button1 {
                cursor: pointer;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                width: 85%;
                padding: 15px;
                margin-top: 20px;
                background-color: #422603;
                color: white;
                -webkit-tap-highlight-color: transparent;
            }

            .button2 {
                width: 85%;
                box-shadow:inset 0px 0px 0px 2px #422603;
                box-sizing: content-box;
                cursor: pointer;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                padding: 15px;
                margin-top: 10px;
                margin-bottom: 30px;
                color: #422603;
                -webkit-tap-highlight-color: transparent;
            }
        }

    }
}