.area-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .area-column {
        max-width: 500px;
        height: 100%;
        width: 100%;

        
        .areaList-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            // padding-inline: 14px;
            height: 100%;
            width: 100%;

            
            .avatarContainer {
                margin-top: 10px;
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: flex-end;
            }
            
            .hint {
                margin-right: auto;
                font-weight: 600;
                color: #ffffff;
            }

            .profileBorder {
                border: 2px;
                border-style: solid;
                border-color: rgb(255, 255, 255);
            }
            
            .areas-show {
                display: flex;
                flex-direction: column;
                height: 60%;
                min-width: 100%;
                box-sizing: border-box;
                border-radius: 5px;
                color: rgb(70, 70, 70);
                overflow-y: auto;
        
                .noAreas {
                    display: flex;
                    justify-content: center;
                    margin-top: auto;
                    margin-bottom: auto;
                    color: #797979;
                    height: 100%;
                    margin: 0;
                    background-color: #f5f5f5;
                    align-items: center;
                    padding: 6px;
                }
            }
        }

        .joinArea {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100px;
            min-width: 400px;
            box-sizing: border-box;
            overflow-y: auto;
            margin-top: auto;
        }
    }
}