.search-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .search-column {
        max-width: 500px;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;

        .chip {
            margin-block: 6px;
            margin-left: 8px;
            background-color: #e4e7f8;
            color: #3F51B5;
            font-weight: 700;
        }

        .topBar {
            margin-top: 10px;
            padding-inline: 4px;
            display: flex;
            min-width: 400px;
            border-bottom: 2px solid #d1d3df;
    
            .topBar-searchField {
                margin-right: auto;
            }
        }
    }
}