.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    overflow: hidden;

    .topBar {
        margin-top: 10px;
        display: flex;
        padding: 5px;
        min-width: 400px;
        width: 98%;
        max-width: 450px;
        border-bottom: 2px solid #ffad4e;

        .topBar-back {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 30px;
            cursor: pointer;
            color: #ffad4e;
            -webkit-tap-highlight-color: transparent;

            .topBar-icon {
                font-size: 18px;
            }
        }

        .topBar-filter {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 30px;
            cursor: pointer;
            color: #ffad4e;
            -webkit-tap-highlight-color: transparent;

            .topBar-icon {
                font-size: 18px;
            }
        }

        .topBar-searchField {
            margin-right: auto;
        }
    }
}