//Base
html, body, #root{
    margin: 0;
    font-family: Roboto;
    width: 100%;
    height: 100%;
}

.mi-2 {
    margin-inline: 2px;
}

.m-0 {
    margin: 0;
}

.tc-grey {
    color: grey;
}

.p {
    cursor: pointer;
}

